<div class="about">
    <div class="pres">
        <h1 class="animate__animated animate__fadeInUp">Ramiro Dondero</h1>
        <h3 class="animate__animated animate__fadeInUp">Web Developer</h3>
        <p class="animate__animated animate__fadeInUp">Soy un entusiasta de la tecnología y la programación, quien a través de su trayectoria como desarrollador web, día a día, sigue aprendiendo nuevos lenguajes y tecnologías para su crecimiento profesional.</p>
    </div>
    <div id='compulog' class="animate__animated animate__zoomIn">
        <img src="assets/contact.png"/>
    </div>
    <div>
        <img id="flecha" src="assets/flecha.svg"/>
    </div>    
</div>
  