<div class="caja">
  <h2>Skills</h2> 
  <div class='logos'>
    <img class="tam-log" src="assets/html.svg"/>
    <img class="tam-log" src="assets/css.svg"/>
    <img class="tam-log2" src="assets/js.svg"/>
    <img class="tam-log" src="assets/angular.svg"/>
    <img class="tam-log" src="assets/typescript.svg"/>
    <img class="tam-log2" src="assets/java.png"/>
    <img class="tam-log" src="assets/node.svg"/>
    <img class="tam-log" src="assets/mongo.svg"/>
    <img class="tam-log" src="assets/npm.svg"/>
    <img class="tam-log" src="assets/express.svg"/>
    <img class="tam-log" src="assets/git.svg"/>
    <img class="tam-log" src="assets/bootstrap.svg"/> 
    <img class="tam-log" src="assets/react.png"/>  
    <img class="tam-log" src="assets/postman.jpg"/>     
  </div>
</div>  
<br>
<div class="caja2">
  <h2>BlockChain</h2>
  <br>
  <div class="logos">
    <img class="tam-log" src="assets/remix.png"/>
    <img class="tam-log" src="assets/solidity.svg"/>
    <img class="tam-log2" src="assets/ipfs.png"/>
  </div>
</div>


     