<div class="caja">
    <div class="card">
        <div>
            <h1>FULLSTACK APP</h1>
            <hr>
            <h3>Inmobiliaria Daneff</h3>
            <p>Web app la cual permite editar una lista de inversores y clientes para una inmobiliaria. Para este proyecto use SPRING BOOT , THYMELEAF y MYSQL</p>
            <a href="https://github.com/RamiroDondero/Daneff-Propiedades" target="_blank"><img id="git" src="assets/github.svg"/></a>
        </div>
        <a href="https://daneff-propiedades.herokuapp.com/" target="_blank"><img src="assets/inmodaneff.png"/></a>
    </div>
</div>
<div class="caja">
    <div class="card">
        <div>
            <h1>FULLSTACK APP</h1>
            <hr>
            <h3>Ricolatto Helados</h3>
            <p>Web app para una heladería, tiene una lista de sabores y precios dinámica que está conectada a mongoDB y permite realizar pedidos a través de la pagina.</p>
            <a href="https://github.com/RamiroDondero/Ricolatto-Helados" target="_blank"><img id="git" src="assets/github.svg"/></a>
        </div>
        <a href="https://ricolattohelados.herokuapp.com/home" target="_blank"><img src="assets/ricolatto.png"/></a>
    </div>
</div>
<div class="caja">
    <div class="card">
        <div>
            <h1>FETCH API</h1>
            <hr>
            <h3>CRYTOS PRICE</h3>
            <p>Fetch api , consume una api de criptomonedas y utiliza la librería ng2-chart para exponer la información</p>
            <a href="https://github.com/RamiroDondero/Fetch_Api" target="_blank"><img id="git" src="assets/github.svg"/></a>
        </div>
        <a href="https://crypto-fetch.netlify.app" target="_blank"><img src="assets/dona.png"/></a>
    </div>
</div>
 