.container {
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    min-height: 100vh;

  }
  .container2 {
    width: 100%;
    height: 150vh;
    padding-top: 20px;
    min-height: 140vh;

  } 

  .container3 {
    width: 100%;
    height:400vh;
    padding-top: 20px;
    min-height: 90vh;
  } 

  .container4 {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    padding-top: 20px;

  } 
  

  #skills, #contact {
    padding-top: 70px;
    align-items: stretch;
    background: linear-gradient(45deg,#1f2d40,#3c5f91,#2fb392,#418992,#50a87e,#69f0ae);
    background-size: 100%;
    background-position: left;
  }
  
  @media screen and (max-width:1120px){
    .container3{
      height: 410vh;
      min-height: 200vh;
    }

    .container4{
      height: 115vh;
      min-height: 115vh;
    }

  
  }
  
    